{block content}
	<div id="container">
		<form n:name="searchForm">
			<input id="ico" n:name="id" onkeydown="return event.key !== '+' && event.key !== '-' && event.key !== ',' && event.key !== '.' && event.key !== 'e' && event.key !== 'E'"><br>
			<input id="sub_btn" n:name="submit">
		</form>
	</div>
{/block}